html,
body,
#root,
main {
  width: 100%;
  height: 100%
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blurb-height: 45rem;
}

#root {
  background: #17141D;
  font-family: "Circular Std Book", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  overflow: hidden;
  display: relative;
}

#bg-canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

#blurb-bg {
  position: absolute;
  border-radius: 53px;
  background: #565350;
  top: 50%;
  transform: translateY(-50%);
  transition: filter .5s;
  height: var(--blurb-height);
  background: linear-gradient(120deg, #E66465, #9198E5);
}

#blurb {
  position: absolute;
  left: 6px;
  top: 0;
  width: calc(100% - 12px);
  height: calc(100% - 0px);
  z-index: -2;
  border-radius: 53px;
  display: grid;
  grid-template: 1fr 3fr 1fr / 1fr;
}

#prof-container {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  height: calc(var(--blurb-height) / 3);
  width: calc(var(--blurb-height) / 3);
  background: linear-gradient(315deg, #E66465, #9198E5);
  border-radius: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  background: white;
}

#profile-photo {
  border-radius: 50%;
  height: calc(100% - 6px);
  /* border: px solid white; */
}

#desc {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 100%;
  text-align: center;
  padding: auto 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

#links {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

#links a {
  position: relative;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  margin: 0 auto;
}

#links a:nth-child(1) {
  justify-content: flex-end;
}

#links a:nth-child(2) {
  justify-content: flex-start;
}

#links svg {
  position: absolute;
  left: 0;
  top: 0;
}

.linkedin-svg,
.github-svg {
  height: 100%;
  width: 100%;
}

.linkedin-svg:hover,
.github-svg:hover {
  fill: black;
}

@keyframes margin-animation {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 2rem;
  }
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  #desc {
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) {
  #desc {
    font-size: 2.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #links a {
    width: 7rem;
    height: 7rem;
    margin-bottom: 2rem;
  }
}