:root {
  --start-pos-base: -2rem;
  --intermediate-pos-base: -1.5rem;
  --end-pos-base: -4rem;
  --start-pos-2560: -4rem;
  --intermediate-pos-2560: -3rem;
  --end-pos-2560: -8rem;
  --first-time: 125ms;
  --second-time: 250ms;
}
#project-button {
  height: 4rem;
  bottom: -2rem;
  border-radius: 50px;
  background: linear-gradient(145deg, #4c1965, purple);
  filter: drop-shadow(0 0 1rem #4c1965);
  cursor: pointer;
}

.project-button {
  animation-name: animate-up-base, animate-down-base;
  animation-duration: var(--first-time), var(--second-time);
  animation-delay: 0ms, var(--first-time);
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards;
}

.project-button-reverse {
  animation-name: animate-up-reverse-base, animate-down-reverse-base;
  animation-duration: var(--second-time), var(--first-time);
  animation-delay: 0ms, var(--second-time);
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, 1;
  animation-fill-mode: forwards;
}

@keyframes animate-up-base {
  from {
    bottom: var(--start-pos-base);
  }

  to {
    bottom: var(--intermediate-pos-base);
  }
}

@keyframes animate-down-base {
  from {
    bottom: var(--intermediate-pos-base);
  }

  to {
    bottom: var(--end-pos-base);
  }
}

@keyframes animate-up-reverse-base {
  from {
    bottom: var(--end-pos-base);
  }

  to {
    bottom: var(--intermediate-pos-base);
  }
}

@keyframes animate-down-reverse-base {
  from {
    bottom: var(--intermediate-pos-base);
  }
  to {
    bottom: var(--start-pos-base);
  }
}

@keyframes animate-up-2560 {
  from {
    bottom: var(--start-pos-2560);
  }

  to {
    bottom: var(--intermediate-pos-2560);
  }
}

@keyframes animate-down-2560 {
  from {
    bottom: var(--intermediate-pos-2560);
  }

  to {
    bottom: var(--end-pos-2560);
  }
}

@keyframes animate-up-reverse-2560 {
  from {
    bottom: var(--end-pos-2560);
  }

  to {
    bottom: var(--intermediate-pos-2560);
  }
}

@keyframes animate-down-reverse-2560 {
  from {
    bottom: var(--intermediate-pos-2560);
  }

  to {
    bottom: var(--end-pos-2560);
  }
}

@media (min-width: 2560px) {
  #project-button {
    height: 8rem;
    bottom: -4rem;
    font-size: 3rem;
  }

  .project-button {
    animation-name: animate-up-2560, animate-down-2560;
  }
  .project-button-reverse {
    animation-name: animate-down-reverse-2560, animate-up-reverse-2560;
  }
}
