:root {
  --portfolio-img-width: 50px;
  --scroll-btn-width: 120px;
  --padding-top: 20px;
  --portfolio-width: 40vh;
  --portfolio-height: 30vh;
  --bg-width: 80vh;
  --bg-height: calc(var(--portfolio-height) * 2 + var(--padding-top) * 2);
  --diff-x: calc((var(--portfolio-width) - var(--scroll-btn-width)) / 2);
  --diff-y: calc(
    var(--portfolio-height) + var(--padding-top) - var(--scroll-btn-width)
  );
  --project-margin: 1vmin;
  --project-width: calc(100% - 2 * var(--project-margin));
  --project-height: calc(100% - 2 * var(--project-margin));
  --github-gray: rgb(44, 48, 42, 0.5);
  --skeu-black: rgb(25, 26, 27);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

@font-face {
  font-family: Gilroy;
  src: url(./Gilroy-Light.otf) format("otf");
}

body {
  margin: 0;
  font-family: "Poppins", "sans-serif";
  line-height: 2ch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #464647, #020403 98%);
  background: linear-gradient(to left, #464647, #020001);
  background: linear-gradient(135deg, rgb(52, 52, 52), #000000 98%);
  min-height: 100vh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

#portfolio {
  margin-top: 15vh;
  padding-top: var(--padding-top);
  height: var(--portfolio-height);
  width: var(--portfolio-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #262626;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.4),
    -2px -2px 4px 0 rgba(128, 128, 128, 0.4);
  background-image: url("./bg-photo-1.jpeg");
  background-repeat: no-repeat;
  background-size: var(--bg-width) var(--bg-height);
  background-position-x: calc(var(--bg-width) / -4);
  background-position-y: calc(var(--bg-height) / -4);
  border-radius: 30px;
  position: relative;
}

#portfolio-name {
  padding: 1ch 0;
  color: wheat;
  z-index: 1;
  font-family: "Poppins", "sans-serif";
}

#portfolio-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #262626;
  height: calc(var(--portfolio-img-width) + 5px);
  width: calc(var(--portfolio-img-width) + 5px);
  border-radius: 15px;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.4),
    -2px -2px 4px 0 rgba(128, 128, 128, 0.4);
}

#portfolio-image {
  border-radius: 15px;
  height: var(--portfolio-img-width);
}

#portfolio-desc {
  z-index: 2;
  margin: 0px 1ch;
  text-align: center;
}

#portfolio-scroll {
  position: absolute;
  top: calc(100% - var(--scroll-btn-width));
  left: calc(50% - var(--scroll-btn-width) / 2);
  width: var(--scroll-btn-width);
  height: var(--scroll-btn-width);
  z-index: 0;
  margin: 0;
  padding: 0;
  border-radius: 100vh;
  background-image: url("./bg-photo-1.jpeg");
  background-repeat: no-repeat;
  background-size: var(--bg-width) var(--bg-height);
  background-position-x: calc(var(--bg-width) / -4 - var(--diff-x));
  background-position-y: calc(var(--bg-height) / -4 - var(--diff-y));
  transition-property: top, background-position-y;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#portfolio-scroll img {
  position: absolute;
  width: 70%;
  height: 70%;
  bottom: 0;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
  opacity: 0;
}

#scroll-btn-text {
  transition: opacity 0.5s ease-in;
  position: absolute;
  bottom: 30%;
  opacity: 0;
}

#portfolio:hover #scroll-btn-text {
  transition: opacity 0.5s ease-out;
  opacity: 1;
}

#portfolio:hover #portfolio-scroll img {
  transition: opacity 0.5 ease-out;
  opacity: 1;
}

#portfolio:hover #portfolio-scroll {
  transition-property: top, background-position-y;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  top: calc(100% - var(--scroll-btn-width) / 2);
  background-position-y: calc(
    var(--bg-height) / -4 - var(--diff-y) - var(--scroll-btn-width) / 2
  );
}

#portfolio-scroll:hover {
  top: calc(100% - var(--scroll-btn-width) / 2);
  background-position-y: calc(
    var(--bg-height) / -4 - var(--diff-y) - var(--scroll-btn-width) / 2
  );
}

.hoverboi:hover {
  width: 10vw;
  transition: width 0.5s ease-in-out;
}

main {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  transition-property: background-image;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.project-blurb {
  font-family: Poppins, sans-serif;
  width: 300px;
  height: 300px;
  background-color: var(--skeu-black);
  position: absolute;
  border-radius: 3vw;
  left: 0;
}

.project-img {
  background-repeat: no-repeat;
  background-size: 125% 125%;
  background-position: center;
  width: var(--project-width);
  height: var(--project-height);
  margin: var(--project-margin);
  border-radius: 4vh;
  transform: translate(0%, -15%);
}

.github-link {
  background: linear-gradient(145deg, #1b1c1d, #171718);
  box-shadow: 5px 5px 5px #0a0a0b, -5px -5px 10px #282a2b;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: calc(4.5vw - 2 * var(--project-margin));
  width: calc(4.5vw - 2 * var(--project-margin));
  border-radius: 100vw;
  margin: 0 auto;
  opacity: 1;
}

.linkedIn-link {
  background: linear-gradient(145deg, #1b1c1d, #171718);
  box-shadow: 5px 5px 5px #0a0a0b, -5px -5px 10px #282a2b;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(4.5vw - 2 * var(--project-margin));
  width: calc(4.5vw - 2 * var(--project-margin));
  border-radius: 15px;
  margin: 0 auto;
}

.project-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--project-width);
  height: var(--project-height);
  margin: var(--project-margin);
  color: white;
  background: url(julia-text.svg);
  background-repeat: no-repeat;
  background-size: 125% 125%;
  background-position: center;
  transform: translate(0%, 15%);
}

.project-desc span {
  text-align: center;
  margin-top: 1ch;
  margin-bottom: auto;
  width: 80%;
}

.project-link {
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 1ch);
  height: 3ch;
  background-color: var(--skeu-black);
  background: linear-gradient(145deg, #1b1c1d, #171718);
  box-shadow: 5px 5px 10px #0a0a0b, -5px -5px 10px #282a2b;
  margin: auto 0;
  position: relative;
  z-index: 1;
}

.project-link:hover {
  background: linear-gradient(45deg, rgb(28, 88, 190), rgb(119, 57, 117));
  color: white !important;
}

.project-link:hover::before {
  content: "";
  position: absolute;
  left: -1%;
  top: -1%;
  width: 102%;
  height: 102%;
  filter: blur(6px);
  z-index: -1;
  border-radius: 100vw;
  background: linear-gradient(45deg, rgb(28, 88, 190), rgb(119, 57, 117));
}



.project-link:hover {
  color: black;
  background-color: white;
  font-weight: bold;
}
