@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-Light.otf") format("otf");
}

@font-face {
  font-family: "Circular Std Book";
  src: url("./Circular\ Std\ Book.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  perspective: 1000px;
}

#root {
  height: 100vh;
  max-height: 100vh;
  background: #17141D;
  font-family: "circular std book";
  overflow: hidden;
  display: relative;
}

#blurb {
  border-radius: 53px;
  background: linear-gradient(315deg, #4d4b48, #5c5956);
  background: #565350;
  box-shadow: inset -19px -19px 50px #343331,
    inset 19px 19px 50px #78736f;
  top: 50%;
  transform: translateY(-50%);
  transition: filter .5s;
}

#profile-photo {
  border-radius: 50%;
  background: linear-gradient(145deg, #9491bf, #aface3);
  /* box-shadow: 5px 5px 10px #9593c1, -5px -5px 10px #b3afe7; */
}

.linkedin-svg,
.github-svg {
  width: 100%;
  height: 100%;
}

.linkedin-svg:hover,
.github-svg:hover {
  fill: black;
}

@keyframes margin-animation {
  from {
    margin-top: 100vh;
  }

  to {
    margin-top: 2rem;
  }
}

@keyframes opacity-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (min-width: 1024px) {
  #blurb {
    height: 25vw;
  }
}

@media (min-width: 1440px) {
  #profile-photo {
    width: 6rem;
  }

  #desc {
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px) {
  #desc {
    font-size: 2.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #profile-photo {
    width: 10rem;
    margin-top: 2rem;
  }

  #links a {
    width: 7rem;
    height: 7rem;
    margin-bottom: 2rem;
  }
}